#page-background {
    background-color:hsl(257, 40%, 49%);
    background-image:url("images/bg-desktop.svg");
    background-size:cover;
}
#logo {
    height: 40px;
    margin: 30px 35px 10px 50px;
    padding: 15px;
}
#mockup {
    height: 430px;
    margin: 10px 15px 0px 15px;
    padding: 10px 10px 0px 10px;

}
.contents {
    display:flex;
    flex-direction:row;
    margin: 0px;
}
.page-text {
    margin: 40px 80px 30px 10px;
    color:white;
}
.heading-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400, 600;
    font-size: 40px;
    padding: 5px 80px 0px 5px;
}
.body-text {
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size: 18px;
    padding: 0px 20px 5px 5px;
}
button {
    color: hsl(257, 40%, 49%);
    background-color:white;
    font-size: 16px;
    text-align:center;
    padding: 10px 45px;
    border: none;
    border-radius: 25px;
    margin: 5px 10px;
    cursor:pointer;
}
button:hover {
    color:white;
    background-color:hsl(300, 69%, 71%);
}
.fa-brands{
    color:white;
    float:right;
    padding: 0px 7px;
    font-size: 25px;
}
footer {
    display:flex;
    flex-direction:row;
    justify-content:end;
    margin: 0px 70px 20px 0px;
}
